@charset "UTF-8";

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root{
    --cor1:#F2E641;
    --cor2:#D9B341;
    --cor3:#0D0D0C;

    --fonte-principal: 'Open Sans', sans-serif;
    --fonte-secundaria: 'Oswald', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--fonte-principal);
}

/* Estilos universais */
.container {
    max-width: 1140px;
    margin: auto;
}
.bar {
    width: 80px;
    height: 5px;
    background-color: var(--cor2);
    margin-top: 10px;
}
h1 {
    font-size: 90px;
    font-weight: bold;
    font-family: var(--fonte-secundaria);
    line-height: 95px;
    margin-bottom: 35px;
}
h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    font-family: var(--fonte-secundaria);
    margin: 20px 0;
}
.button {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #454545;
    border-radius: 10px;
    color: #454545;
    text-decoration: none;
}
.button:hover {
    color: #fff;
    background-color: #454545;
}
.header--area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.header--logo img {
    width: 64px;
    height: 64px;
}
.header--menu {
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 1140px; 
}
header .line {
    background-color: var(--cor3);
    height: 10px;
}
.logo{
    display: flex;
    align-items: center;
    /* margin: 20px; */
}
.menu{
    display: flex;
    align-items: center;
}
nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    /* color: #000; */
    color: var(--cor2);
}
nav a:hover {
    /* background-image: linear-gradient(to right, var(--cor2), var(--cor3)); */
    background-color: var(--cor2);
    color:#000;
    border-radius: 10px;
}
/* #banner{
    background-image: url('../imagens/capa\ cantinho.jpeg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
    height: 500px;
    background-color:var(--cor2);
} */
.column{
    flex-direction: column;
}
.texto{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.texto h1{
    color: #fff;
    font-size: 40px;
    text-shadow: 0px 0.3px 0px var(--cor1);
    font-weight: 200;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.texto h2{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    text-shadow: 0px 0.3px 0px var(--cor1);
    margin: 0;
    padding: 0;
    margin-top: 30px;
    max-width: 350px;
}
.opcao{
    height: 210px;
    display: flex;
    /* background-color: blue; */
}
.banner1,
.banner2,
.banner3{
    flex: 1;
    color: #fff;
    padding: 20px;
}
.banner1{
    /* background-image: linear-gradient(to right, var(--cor1), var(--cor2)); */
    background-color: var(--cor2);
}
.banner2{
    /* background-image: linear-gradient(to right, var(--cor3), var(--cor4)); */
    background-color: var(--cor2);
}
.banner3{
    /* background-image: linear-gradient(to right, var(--cor4), var(--cor5)); */
    background-color: var(--cor2);
}
.titulo{
    font-size: 20px;
    /* background-color: #5c5c5c; */
    height: 60px;
    padding: 10px;
}
.descricao{
    font-size: 14;
    margin-top: 20px;
    margin-bottom: 20px;
}
.opcao a{
    display: block;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    width: 80px;
}
.horario{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    padding: 10px;
}
#geral{
    display: flex;
    justify-content: center;
}
.cantinho{
    background-image: linear-gradient(to right, var(--cor2), var(--cor2));
    padding: 10px;
    box-shadow: 2px 2px 2px  var(--cor5);
    margin: 10px;
}
/* .cantinho2{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2),  var(--cor5));
    padding: 10px;
    box-shadow: 2px 2px 2px  var(--cor5);
    margin: 10px;
} */
.top{
    margin-top: 85px;

}
#geral section{
    flex: 2;
}
.resumo {
    /* background-color: #F2E641; */
    /* text-indent: 50px; */
    text-align: justify;
}
.nova_thumb img {
    width: 100%;
    margin: auto;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: #000;
    font-size: 22px;
    font-weight: bold;
}
.widget_title_bar{
    width: 80px;
    height: 5px;
    background-color: var(--cor2);
    margin-top: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
article{
    flex: 1;
    min-width: 300px;
    margin-right: 25px;
}
article a {
    text-decoration: none;
}
article .nova_data{
    display: flex;
}
article .nova_postagem_at{
    background-color: var(--cor5);
    color: #fff;
    font-size: 12;
    padding: 10px;
    margin-right: 5px;
}

article .nova_thumb{
    margin-top: 25px;
}
article .titulo{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 25px;
}

footer{
    /* background-color: #1e1e1e; */
    background-color: var(--cor3);
    display: flex;
    justify-content: center;
}
.footer_area{
    display: flex;
}
.footer_areaitem{
    flex: 1;
    color: #fff;
}
.flexcolumn{
   flex-direction: column; 
}
footer .widget_title_text{
    color: #fff;
}
.footer_copy,
.footer_copy a{
   /* border-top: 1px solid #2c2c2c; */
   height: auto;
   /* width: auto; */
   color: #5c5c5c;
   font-size: 12px;
   margin-top: 20px;
   margin-bottom: 5px;
   padding: 10px;
}
.widget_body a {
    margin-bottom: 15px
}
/* footer .widget_body .icone{
    padding: 2px;
    margin-right: 10px;
} */
footer .widget_body{
    display: flex;
    flex-direction: column; 
}
footer a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
/* footer a::after{
    content: '\1F517\00A0';
} */
footer .lugar{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    line-height: 20px;
}



/* .menuMobile{
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line{
    height: 3px;
    background-color: var(--cor1);
} */


/*Responsicidade para celular*/

/* @media (min-width: 370px) and (max-width: 450px) {
    .banner{
        padding: 20px;
    }
    .banner1,
    .banner2,
    .banner3 {
        border-bottom: 2px solid var(--cor3);
    }
    .texto h1{
        font-size: 50px;
        line-height: 45px;
    } 
    .texto h2{
        font-size: 25px;
        line-height: 30px;
        padding: 20px;  
    }
    .img{
        margin: auto;
    }
    .opcao{
        height: auto;
        flex-direction: column;
    } 
    .container{
        flex-direction: column;
        width: 100vw;
    }
    #geral section, 
    #geral aside{
        font-size: 14px;
        padding: 20px; 
    }
    #geral section{
        margin-top: 120px;
        
    }
    .footer_menu{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    .footer_area{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    .footer_copy{
        padding: 20px;
        text-align: center;
        font-size: 10px;
    }
    header .container{
        flex-direction: row;
        padding-left: 20px;
        padding-right: 20px;
    }
} */

/* nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--cor1);
} */
/* header{
    height: auto;
} */
/* .logo{
    padding-left: 20px;
} */
/* .menuMobile{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
} */





@media (min-width: 330px) and (max-width: 500px){
    .banner{
        padding: 20px;
    }
    .banner1,
    .banner2,
    .banner3 {
        border-bottom: 2px solid var(--cor3);
    }
    .texto h1{
        font-size: 50px;
        line-height: 45px;
        /* font-size: 22px; */
        padding: 20px;
    } 
    .texto h2{
        font-size: 25px;
        line-height: 30px;
        /* font-size: 15px; */
        padding: 20px;
    } 
    .opcao{
        height: auto;
        flex-direction: column;
        margin-bottom: -150px;
    } 
    .container{
        flex-direction: column;
        width: 100vw;
        /* padding: 10px; */
    }
    .header--logo {
        margin-left: 20px;
    }
    header .container{
        flex-direction: row;
    }
    #geral section, 
    #geral aside{
        font-size: 14px;
        padding: 20px; 
    }
    #geral section{
        margin-top: 120px;
        
    }
    .footer_menu,
    .footer_area{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    /* .footer_area{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    } */
    .footer_copy{
        padding: 20px;
        text-align: center;
        font-size: 10px;
    }
    /* header .container{
        flex-direction: row;
    } */
    /* nav ul{
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--cor1);
    } */
    /* header{
        height: auto;
    } */
    /* .logo{
        padding-left: 20px;
    } */
    /* .menuMobile{
        display: flex; 
        flex-direction: column; 
        justify-content: space-around;
    } */
}



@media(min-width: 501px) and (max-width: 725px) {
    .banner{
        padding: 20px;
    }
    .banner1,
    .banner2,
    .banner3 {
        border-bottom: 2px solid var(--cor3);
    }
    .texto h1 {
        font-size: 22px;
        padding: 20px;
    } 
    .texto h2 {
        font-size: 15px;
        padding: 20px;
    } 
    /* .opcao{
        height: auto;
        flex-direction: column;
        margin-bottom: -150px;
    }  */
    .container {
        flex-direction: column;
        width: 100vw;
    }
    #geral section, 
    #geral aside{
        font-size: 14px;
        padding: 20px; 
    }
    #geral section{
        margin-top: 120px;
        
    }
    .footer_menu,
    .footer_area{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    .footer_copy{
        padding: 20px;
        text-align: center;
        font-size: 10px;
    }
    header .container{
        flex-direction: row;
    }
}







/* @media(max-width:650px){
    .banner{
        padding: 20px;
    }
    .banner1,
    .banner2,
    .banner3 {
        border-bottom: 2px solid var(--cor3);
    }
    .texto h1{
        font-size: 22px;
        padding: 20px;
    } 
    .texto h2{
        font-size: 15px;
        padding: 20px;
    } 
    .opcao{
        height: auto;
        flex-direction: column;
        margin-bottom: -150px;
    } 
    .container{
        flex-direction: column;
        width: 100vw;
    }
    #geral section, 
    #geral aside{
        font-size: 14px;
        padding: 20px; 
    }
    #geral section{
        margin-top: 120px;
        
    }
    .footer_menu,
    .footer_area{
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
    }
    .footer_copy{
        padding: 20px;
        text-align: center;
        font-size: 10px;
    }
    header .container{
        flex-direction: row;
    }
} */


/* .footer_area{
    flex-direction: column;
    padding: 20px;
    font-size: 14px;
} */
/* nav ul{
    flex-direction: column;
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: var(--cor1);
} */
/* header{
    height: auto;
} */
/* .logo{
    padding-left: 20px;
} */
/* .menuMobile{
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
} */